.carousel-inner{

height: 400px;


}

h1 {
    text-align: -webkit-center;
    padding: 30px;
    color: #E91E63;
    border-bottom: 1px solid;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    font-family: -webkit-pictograph;
    margin-top: 50px;
    margin-bottom: 80px;
}


.container{

margin-top: 100px;
display: flex;

}


#img{

flex: 1;


}


#desc{

flex: 1;

    font-size: 14px;
    padding: 42px;
    margin-top: -25px;

}

#ciao {
	width: 940px;
	margin: 10px auto;
	padding: 20px;
	border: 4px double #000;
	background-color: #fff;
	min-height: 100%;
}

ul {
	width: 575px;
	padding: 15px;
	margin: 0px auto;

    
	text-align: center;
}
li {
	display: inline;
	margin: 0px 3px;
}

nav.navbar li a{
	color:  white !important;
	text-transform: uppercase;
	text-decoration: none;
	padding: 6px 18px 5px 18px;
}
a:hover{
	color: #a40000;
	background-color: 
 #700f70;
}



a{

	color: red !important;

}

.flamingo{

width: 100%;


}

.navbar navbar-dark bg-primary {
	background-color:  #ff8080;
}

.bg-primary {
    background-color: #ff8080!important;
}
footer{
    background-color: #E91E63;
    color:white;
    font-style: inherit;
}
